mixin table-header
    thead
        th #
        th name (title)
        //th role
        th project-leader
        th chapter-leader
        th time covered by
        th Travel from
        th flight cost
        th ticket cost
        th Required funds
        | {% if funded  == true %}
        th Amount funded
        th Who funded
        | {% endif %}
        th (subtotal)

mixin table-row
    | {% if funded  == true %}
    |   {% assign total_amount = total_amount | plus: page.funded-amount %}
    | {% else %}
    |   {% assign total_amount = total_amount | plus: page.required-funds %}
    | {% endif %}
    | {% assign index        = index        | plus: 1                  %}
    tr
        td {{ index }}
        td.text-left.large-column
            a(href='page.url') {{ page.title     }}
        td  {{ page.project-leader     }}
        td  {{ page.chapter-leader     }}
        td  {{ page.time               }}
        td  {{ page.travel-from        }}
        td ${{ page.flight-cost        }}
        td ${{ page.ticket-cost        }}
        td ${{ page.required-funds     }}
        | {% if funded  == true %}
        td ${{ page.funded-amount      }}
        td.large-column  {{ page.funded-who         }}
        | {% endif %}
        td ${{ total_amount            }}

mixin total_amount
    tr
        td
        td
        td
        td
        td
        td
        td
        td
        | {% if funded  == true %}
        td
        td
        td
            h5 Total funded:
        td
            h5 ${{ total_amount }}
        | {% else %}
        td
            h5 Total required:
        td
            h5 ${{ total_amount }}
        | {% endif %}

mixin add-email
    | {% if jekyll.environment == 'development' %}
    |   {% if page.email != null %}
    |       {% assign emails = emails | append: page.email %}
    |   {% else %}
    |       {% assign emails = emails | append: site.data.emails[page.title] %}
    |   {% endif %}
    |   {% if forloop.last != true %}
    |       {% assign emails = emails | append: ' , ' %}
    |   {% endif %}
    | {% endif %}

mixin show-emails
    | {% if jekyll.environment == 'development' %}
    textarea {{emails}}
    | {% endif %}

mixin show-email-list
    | {% assign emails       = "" %}
    h3 {{ list-title }}
    | {% for page in list-pages %}
    + add-email
    | {% endfor %}
    + show-emails


.participants-table

    h1 Participant's Funding
        a(href='/pages/for-editors') Back to Editor's pages

    | {% assign participants = site.pages | where: 'expenses', 'owasp'  %}
    | {% assign emails       = "" %}
    h3 Participants currently funded
    | {% assign total_amount = 0    %}
    | {% assign index        = 0    %}
    | {% assign funded       = true %}
    table.table.table-striped.text-center
        + table-header
        | {% for page in participants %}
        |   {% if page.funded  == true %}
        + table-row
        + add-email
        |   {% endif  %}
        | {% endfor %}
        + total_amount

    + show-emails


    hr
    | {% assign total_amount = 0 %}
    | {% assign index        = 0 %}
    | {% assign funded       = false %}
    | {% assign emails       = "" %}
    h3 Participants that need funding
    table.table.table-striped.text-center
        +table-header
        | {% for page in participants %}
        |   {% if page.funded  != true %}
        +table-row
        + add-email
        |   {% endif %}
        | {% endfor %}
        +total_amount

    + show-emails


    | {% if jekyll.environment == 'development' %}

    h1 Other Email's Lists

    | {% assign list-title  = "All Participants" %}
    | {% assign list-pages  = site.pages | where: 'type', 'participant' %}
    + show-email-list

    | {% assign list-title  = "All Participants (remote)" %}
    | {% assign list-pages  = site.pages | where: 'type', 'participant-remote' %}
    + show-email-list

    | {% assign list-title  = "Summit Editors" %}
    | {% assign list-pages  = site.pages | where: 'role', 'Summit-Editor' %}
    + show-email-list

    | {% endif %}