mixin table-header
    thead
        th #
        th name (title)
        //th role
        th project-leader
        th chapter-leader
        th time covered by
        th Travel from
        th flight cost
        th ticket cost
        th Required funds
        | {% if funded  == true %}
        th Amount funded
        th Who funded
        | {% endif %}
        th (subtotal)

mixin table-row
    | {% if funded  == true %}
    |   {% assign total_amount = total_amount | plus: page.funded-amount %}
    | {% else %}
    |   {% assign total_amount = total_amount | plus: page.required-funds %}
    | {% endif %}
    | {% assign index        = index        | plus: 1                  %}
    tr
        td {{ index }}
        td.text-left.large-column
            a(href='{{page.url}}') {{ page.title     }}
        td  {{ page.project-leader     }}
        td  {{ page.chapter-leader     }}
        td  {{ page.time               }}
        td  {{ page.travel-from        }}
        td ${{ page.flight-cost        }}
        td ${{ page.ticket-cost        }}
        td ${{ page.required-funds     }}
        | {% if funded  == true %}
        td ${{ page.funded-amount      }}
        td.large-column  {{ page.funded-who         }}
        | {% endif %}
        td ${{ total_amount            }}

mixin total_amount
    tr
        td
        td
        td
        td
        td
        td
        td
        td
        | {% if funded  == true %}
        td
        td
        td
            h5 Total funded:
        td
            h5 ${{ total_amount }}
        | {% else %}
        td
            h5 Total required:
        td
            h5 ${{ total_amount }}
        | {% endif %}

mixin data-reset
    | {% assign total_amount = 0     %}
    | {% assign index        = 0     %}

.participants-table

    h1 Participant's Funding
        a(href='/pages/for-editors') Back to Editor's pages

    h3 Participants currently funded

    | {% assign participants = site.pages | where: 'expenses', 'owasp' | where_exp: 'item', 'item.funded == true' %}
    | {% assign funded       = true  %}
    + data-reset

    table.table.table-striped.text-center
        + table-header
        | {% for page in participants %}
        + table-row
        | {% endfor %}
        + total_amount
